<div class="card text-bg-dark border-0">
  <%= image_tag("olive2.jpeg", class: "rounded", alt:"...", style: 'width:auto'  ) %>
  <div class="card-img-overlay">
    <h2 class="card-title" style="color:#ED927F">Course 1: Foundations of the Faith</h2>
    <p class="card-text">The essentials of the Christian walk.</p>
    <div class="d-grid gap-2">
      <%= link_to "Go to Course", home_course1_path, class: "btn btn-outline-light" %>
    </div>
  </div>
</div>
<br/> 

<div class="card mb-3" style="width: auto">
  <div class="row g-0">
    <div class="col-md-4">
      <%= image_tag("olive2.jpeg", class: "rounded", alt:"...", style: 'object-fit: none; width: 190px; height:200px'  ) %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Course 1: Foundations of the Faith</h5>
        <p class="card-text">The essentials of the Christian walk</p>
        <p class="card-text"><small class="text-body-secondary">Calvary Chapel Clayton</small></p>
      </div>
    </div>
  </div>
</div>
